### ENVS TO USE APP

### APP
API_APP_CONTAINER_NAME=backend-api-service
PORT=3333

### DATABASE RELATED
DATABASE_POSTGRES_PORT=5432
DATABASE_POSTGRES_NAME=backend_db
DATABASE_POSTGRES_HOST=database_postgres
DATABASE_POSTGRES_USER=postgres
DATABASE_POSTGRES_PASSWORD=postgres1234
DATABASE_POSTGRES_SYNCHRONIZE=false
DATABASE_POSTGRES_LOGGING=true
DATABASE_POSTGRES_TIMEZONE=Z

### DATABASE TEST E2E RELATED
DATABASE_POSTGRES_TEST_E2E_PORT=5432
DATABASE_POSTGRES_TEST_E2E_NAME=backend_db_test_e2e
DATABASE_POSTGRES_TEST_E2E_HOST=localhost
DATABASE_POSTGRES_TEST_E2E_USER=postgres
DATABASE_POSTGRES_TEST_E2E_PASSWORD=postgres1234
DATABASE_POSTGRES_TEST_E2E_SYNCHRONIZE=false
DATABASE_POSTGRES_TEST_E2E_LOGGING=false
DATABASE_POSTGRES_TEST_E2E_TIMEZONE=Z


### SONARQUBE
SONAR_HOST_URL=http://sonarqube:9000
SONAR_TOKEN=
SONAR_PROJECT_KEY=backend-api-service

### Fortify
FORTIFY_BUILD_ID=backend-api-service
FORTIFY_OUTPUT=fortify-report.fpr
FORTIFY_SSC_URL=https://fortify.seuservidor.com
FORTIFY_SSC_TOKEN=seu-token-fortify