services:
  app:
    depends_on:
      - database_postgres
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ${API_APP_CONTAINER_NAME}
    env_file:
      - .env
    ports:
      - '${PORT}:${PORT}'
    volumes:
      - ./src:/app/src
      - ./logs:/app/logs

  ### DATABASE SERVICE
  database_postgres:
    image: postgres:18
    container_name: ${PROJECT_NAME}_database
    environment:
      - POSTGRES_USER=${DATABASE_POSTGRES_USER}
      - POSTGRES_PASSWORD=${DATABASE_POSTGRES_PASSWORD}
      - POSTGRES_DB=${DATABASE_POSTGRES_NAME}
    ports:
      - '${DATABASE_POSTGRES_PORT}:5432'
    volumes:
      - db_data:/var/lib/postgresql

  ### SONAR_QUBE SERVICES
  sonarqube:
    image: sonarqube:community
    depends_on:
      - sonar-db
    environment:
      SONAR_JDBC_URL: jdbc:postgresql://sonar-db:5432/sonar
      SONAR_JDBC_USERNAME: sonar
      SONAR_JDBC_PASSWORD: sonar
    ports:
      - '9000:9000'
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs

  sonar-db:
    image: postgres:13
    environment:
      POSTGRES_USER: sonar
      POSTGRES_PASSWORD: sonar
      POSTGRES_DB: sonar
    volumes:
      - sonar-db:/var/lib/postgresql
      - sonar-db_data:/var/lib/postgresql/data

volumes:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
  sonar-db:
  sonar-db_data:
  db_data:
